* {
    position: relative;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 768px) {
    .main {
        display: block;
    }
}

.main-card {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    height: 400px;
    width: 600px;
    box-shadow: 20px 20px 20px hsl(221, 100%, 96%);
    border-radius: 20px;
}

@media (max-width: 768px) {
    .main-card {
        display: block;
        width: 100vw;
        height: 100vh;
    }
}

.blue-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
}

@media (max-width: 768px) {
    .blue-card {
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        height: auto;
        padding-bottom: 100px;
    }
}

.blue-card-title {
    font-size: 20px;
    color: hsl(241, 100%, 89%);
    padding: 25px;
}

.score-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsl(241, 81%, 54%));
    border-radius: 100px;
    width: 100px;
    height: 100px;
    padding: 20px;
}

.score {
    color: hsl(0, 0%, 100%);
    font-size: 55px;
}

.max-score {
    color: hsl(241, 100%, 89%);
    font-size: 15px;
}

.rate {
    color: hsl(0, 0%, 100%);
    margin-top: 30px;
}

.description {
    text-align: center;
    max-width: 220px;
    color: hsl(241, 100%, 89%);
    margin-top: 20px;
}

.white-board {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: "Hanken Grotesk", sans-serif;
    color: hsl(224, 30%, 27%);
    padding-inline: 30px;
    margin-top: 25px;
}

.summary-cards {
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
}

.summary-card {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}

.reaction-wrapper {
    background-color: hsl(0, 100%, 96%);
    color: hsl(0, 100%, 67%);
    margin-top: 15px;
}

.title {
    display: flex;
    gap: 15px;
}

.summary-score {
    color: hsl(241, 100%, 91%);
    font-weight: 700;
}

.bold {
    color: hsl(224, 30%, 27%);
}

.memory-wrapper {
    background-color: hsl(39, 100%, 96%);
    color: hsl(39, 100%, 56%);
}

.verbal-wrapper {
    background-color: hsl(166, 100%, 96%);
    color: hsl(166, 100%, 37%);
}

.visual-wrapper {
    background-color: hsl(234, 85%, 96%);
    color: hsl(234, 85%, 45%);
}

.button-value {
    padding: 12px;
    border-radius: 30px;
    margin-top: 25px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 30%, 27%);
    border: none;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.button-value:hover {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsl(241, 81%, 54%));
    color: white;
    cursor: pointer;
}